# Python & Environment
.venv/
env/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# MLflow & Local DB
mlruns/
mlflow.db

# Environment variables
.env
.env.local

# Build artifacts
build/
dist/
*.egg-info/
